@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  padding: 0;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.section {
  flex-shrink: 0;
  height: 70vh;
}

.action {
  background-color: #3882f6;
  font-size: 18px;
  color:
}

#signup-button {
  border: none;
  border-radius: 5px; 
  padding: 5px 30px;
  color: #f9faf8;
}

.secondary {
  //text-wrap: wrap;
  color: #e5e7eb;
  font-size: 18px;
  weight: normal;
  font-style: thin;
  font-weight: 300;
}

#hero {
  background-color: #1f2937;
  padding: 30px 200px;
  color: #f9faf8;

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;

    #header-links {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      gap: 40px;
      list-style-type: none;
      font-size: 18px;

      a {
        text-decoration: none;
        color: #e5e7eb;
      }
    }
  }

  #main-container {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    gap: 100px;

    #main {
      font-size: 48px;
      font-weight: 900;
      text-wrap: wrap;
    }

    #hero-image {
      display: flex;
      height: 400px;
      width: 600px;
      background-color: grey;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
    }

  }

}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  #header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
  }

  #info-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

    .info-image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 150px;

      .image {
        flex-shring: 0;
        width: 146px;
        height: 146px;
        border: solid;
        border-width: 4px;
        border-color: #3882f6;
        border-radius: 15px;
      }

      .image-subtext {
        text-align: center;
        color: #1f2937;
      }
    }
  }
}

#quote-container {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 280px;

  #quote {
    text-wrap: wrap;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1f2937;
  }

  #citation {
    text-align: right;
  }
}
